body {
    margin: 0px;
}

@page {
    margin: 0cm;
}

.content {
    display: flex;
    flex-direction: column;

}

.title {
    align-self: center;
    font-size: 22px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: #000;
}

span {
    font-size: 12px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 200;
    color: #000;
    line-height: 21px;

}

.line {
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 1px dashed #000;
}


.line2 {
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 0.5px solid #000;
    flex-grow: 1;
}

.s {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin-top: 20px;
}

.top {
    margin-top: 30px;
}

.center {
    margin-top: 16px;
    align-self: center;
}

.item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.td-left {
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
}

.td-center {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.td-right {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-coulumn {
    display: flex;
    flex-direction: column;
}

.space-between {
    justify-content: space-between
}

.qr {
    height: 170px;
    width: 170px;
    align-self: center;
}

.big-title {
    font-size: 28px;
    margin-top: 4px;
}

.medium-title {
    font-size: 20px;
}

.td-w {
    flex-grow: 1;
    width: 120px;
}

.td-w2 {
    flex-shrink: 0;
    width: 40px;
}

.single-line {
    overflow: hidden;
    /*超出部分隐藏*/
    white-space: nowrap;
    /*不换行*/
    text-overflow: ellipsis;
    /*超出部分文字以...显示*/
}

.two-line {
    text-overflow: -o-ellipsis-lastline;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.td-w {
    flex-grow: 1;
    width: 120px;
}

.td-w2 {
    flex-shrink: 0;
    width: 40px;
}

.couponName {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 200;
    color: #000;
    line-height: 21px;
    font-size: 12px;
}

.td-name {
    flex-grow: 1;
    width: 100px;
}

.td-item {
    flex-shrink: 0;
    width: 35px;
}

.remarkInfo {
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 200;
    color: #000;
    line-height: 28px;
    font-size: 16px;
}